@charset "utf-8";

.anker-link-box {
  width: calc(#{$pc-grid} * 6 + #{$pc-gutter} * 5);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $pale-gray;
  padding: 45px 50px;
  margin-bottom: 80px;
  @include mq-tab {
    width: 100%;
    padding: 30px 35px 10px 35px;
  }
  @include mq-sp {
    width: 100%;
    padding: 30px 35px 10px 35px;
  }
  &__list {
    margin-right: 18px;
    position:relative;
    padding-right: 18px;
    &::after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 14px;
      background: $bon-green;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;
      @include mq-tab {
        margin-top: -13px;
      }
      @include mq-sp {
        margin-top: -13px;
      }
    }
  }
  &__link-text {
    @include text-normal--pc;
    @include mq-tab {
      width: 100%;
      margin-bottom: 45px;
      @include text-inner--sp;
      margin-bottom: 15px;
    }
    @include mq-sp {
      width: 100%;
      margin-bottom: 45px;
      @include text-inner--sp;
      margin-bottom: 15px;
    }
    a {
      text-decoration: underline;
      transition:.1s;
      color: $bon-green;
      &:hover {
        text-decoration: underline transparent;
      }
    }
  }
}
