@charset "utf-8";

.aside {
  &__copyright {
    position: fixed;
    top: 25vh;
    right: 40px;
    writing-mode: vertical-rl;
    font-family: TsukuMinPr6-LB;
    font-size: 10px;
    font-weight: normal;
    color: $dark-green;
    letter-spacing: 1px;
  }
  &__pagetop {
    position: fixed;
    bottom: 40px;
    right: 30px;
    writing-mode: vertical-rl;
    font-family: TsukuMinPr6-LB;
    font-size: 10px;
    font-weight: normal;
    color: $dark-green;
    letter-spacing: 1px;
    &::before {
      width: 30px;
      height: 30px;
      margin-bottom: 5px;
      content: '';
      display: inline-block;
      background: url(../images/common/icn_arrow.svg);
      background-size: cover;
      transform: rotate(-90deg);
    }
    a {
      text-decoration: none;
      color: $dark-green;
    }
  }
  &__social-box {
    position: fixed;
    bottom: 150px;
    right: 36px;
  }
  &__social-icon {
    margin-bottom: 10px;
    width: 17px;
    display: block;
  }
}
