@charset "utf-8";

.aside {
  margin-bottom: 150px;
  @include mq-tab {
    width: calc(100% - 30px);
    margin: 0px 20px 60px 20px;
  }
  @include mq-sp {
    width: calc(100% - 30px);
    margin: 0px 20px 60px 20px;
  }
  &__area-wrapper {
    position: relative;
    padding-bottom: 0px;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      display: inline-block;
      width: 83%;
      height: 1px; /*下線の太さ*/
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%); /*位置調整*/
      background-color: $pale-gray;
      @include mq-tab {
        width: 100%;
      }
      @include mq-sp {
        width: 100%;
      }
    }
  }
}
