@charset "utf-8";

.breadcrumbs {
  margin-bottom: 30px;
  @include mq-tab {
    display: none;
  }
  @include mq-sp {
    display: none;
  }
  &__text {
    @include text-small--pc;
    text-align: center;
    a {
      text-decoration: underline;
      transition:.1s;
      color: $bon-green;
      &:hover {
        text-decoration: underline transparent;
      }
    }
  }
}
