@charset "utf-8";

.breadcrumbs {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  @include mq-tab {
    display: none;
  }
  @include mq-sp {
    display: none;
  }
  &__text {
    @include text-small--pc;
    text-align: center;
    a {
      text-decoration: underline;
      transition:.1s;
      color: $bon-green;
      &:hover {
        text-decoration: underline transparent;
      }
    }
    &::after {
      margin: 0px 9px 0px 10px;
      content: '>';
    }
    &:last-child::after {
      content: none;
    }
  }
}
