@charset "utf-8";

.footer-link-area {
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #8E9A9A;
  @include mq-tab {
    display: block;
    padding-bottom: 45px;
  }@include mq-sp {

    display: block;
    padding-bottom: 45px;
  }
  &__box-wrapper {
    margin-bottom: 100px;
    @include mq-tab {
      margin-bottom: 0px;
    }
    @include mq-sp {
      margin-bottom: 0px;
    }
    &:nth-child(n+2):nth-child(-n+5) {
      @include mq-tab {
        display: none;
      }
      @include mq-sp {
        display: none;
      }
    }
  }
  &__main-menu {
    @include heading-s--pc;
    font-size: 14px;
    margin-bottom: 25px;
    a {
      text-decoration: underline;
      transition:.1s;
      color: #B3BCBC;
      &:hover {
        text-decoration: underline transparent;
      }
    }
    @include mq-tab {
      @include heading-s--pc;
      font-size: 14px;
      text-align: center;
    }
    @include mq-sp {
      @include heading-s--sp;
      font-size: 12px;
      text-align: center;
    }
  }
  &__local-menu {
    @include text-small--pc;
    margin-bottom: 15px;
    margin-left: 1.4em;
    text-indent: -1.4em;
    &::before {
      margin: 0 10px 0 0px;
      content: '';
      display: inline-block;
      width: 6px;
      height: 1px;
      background: #B3BCBC;
      position: relative;
      top: -4px;
    }
    a {
      text-decoration: underline;
      transition:.1s;
      color: #B3BCBC;
      &:hover {
        text-decoration: underline transparent;
      }
    }
    @include mq-tab {
      display: none;
    }
    @include mq-sp {
      display: none;
    }
  }
  &__br--pc {
    @include mq-tab {
      display: none;
    }
    @include mq-sp {
      display: none;
    }
  }
}
