@charset "utf-8";

.garden-link-box {
  display: flex;
  flex-wrap: wrap;
  width: calc(#{$pc-grid} * 8 + #{$pc-gutter} * 7);
  margin-bottom: 80px;
  @include mq-sp {
    width: 100%;
  }
  &__wrapper {
    width: calc(100% / 3 - 50px / 3);
    margin-right: 25px;
    @include mq-sp {
      width: calc(100% / 2 - 10px);
      margin-right: 20px;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
    &:nth-child(3n) {
      margin-right: 0px;
      @include mq-sp {
        margin-right: 20px;
      }
    }
    &:nth-child(6n) {
      margin-right: 0px;
      @include mq-sp {
        margin-right: 0px;
      }
    }
  }
  &__link-wrapper {
    text-decoration: underline;
    color: $bon-green;
    transition:.1s;
    &:hover {
      text-decoration: underline transparent;
    }
  }
  &__garden-images {
    width: 100%;
    margin-bottom: 16px;
    @include mq-sp {
      margin-bottom: 14px;
    }
  }
  &__garden-name {
    @include heading-s--pc;
    margin-bottom: 8px;
    @include mq-sp {
      @include heading-s--sp;
    }
  }
  &__garden-address {
    @include text-inner--pc;
    @include mq-sp {
      @include text-small--sp;
      margin-bottom: 4px;
      margin-left: 1.4rem;
      text-indent: -1.4rem;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 16px;
      margin-right: 8px;
      background: url(https://placehold.jp/12x16.png) no-repeat center center;
      background-size: cover;
      position: relative;
      top: 2px;
    }
  }
  &__garden-phone-number {
    @include text-inner--pc;
    margin-bottom: 45px;
    @include mq-sp {
      @include text-small--sp;
      margin-bottom: 30px;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 16px;
      margin-right: 8px;
      background: url(https://placehold.jp/12x16.png) no-repeat center center;
      background-size: cover;
      position: relative;
      top: 2px;
    }
  }
}
