@charset "utf-8";

.header {
  @include mq-tab {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    padding: 40px 20px 40px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    margin-bottom: 50px;
    // border-bottom: 1px solid #eee;
  }
  @include mq-sp {
    display: flex;
    width: 100%;
    justify-content: center;
    // position: relative;
    padding: 25px 20px 20px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    margin-bottom: 50px;
    // border-bottom: 1px solid #eee;
  }
  &__site-logo {
    position: fixed;
    top: 20px;
    left: 25px;
    width: 80px;
    z-index: 100;
    img {
      width: 90%;
    }
    @include mq-tab {
      position: static;
      z-index: 1;
      width: 70px;
    }
    @include mq-sp {
      position: static;
      z-index: 1;
      width: 55px;
    }
  }
  &__shopping-bag {
    position: fixed;
    top: 100px;
    right: 33px;
    width: 27px;
    z-index: 1;
    img {
      width: 100%;
    }
    @include mq-tab {
      position: absolute;
      top: 42px;
      right: 90px;
      width: 30px;
      img {
        width: 90%;
      }
    }
    @include mq-sp {
      position: absolute;
      top: 23px;
      right: 69px;
      img {
        width: 90%;
      }
    }
  }
}
