@charset "utf-8";

.index-title {
  padding: 150px 0px 0px 50px;
  border-left: 1px solid $dark-green;
  margin-bottom: 150px;
  @include mq-sp {
    padding: 0px;
    border-left: none;
    margin-bottom: 50px;
    text-align: center;
  }
  &__heading {
    @include heading-l--pc;
    margin-bottom: 25px;
    @include mq-sp {
      @include heading-xl--sp;
      margin-bottom: 0px;
      position: relative;
      &::before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 1px;
        background: $dark-green;
        position: absolute;
        top: 50%;
        left: -20px;
      }
    }
  }
  &__sumally {
    @include text-inner--pc;
    @include mq-sp {
      display: none;
    }
  }
}
