@charset "utf-8";

.list-link-box {
  &__wrapper {
    margin-bottom: 80px;
    @include mq-sp {
      margin-bottom: 30px;
    }
  }
  &__list-title {
    @include heading-m--pc;
    margin-bottom: 50px;
    @include mq-sp {
      margin-bottom: 30px;
    }
  }
  &__list-text {
    &::before {
      margin: 0px 15px 0px 5px;
      content: '';
      display: inline-block;
      width: 8px;
      height: 1px;
      background: #829192;
      position: relative;
      top: -6px;
    }
    @include text-normal--pc;
    a {
      text-decoration: underline;
      color: $bon-green;
      transition:.1s;
      &:hover {
        text-decoration: underline transparent;
      }
    }
    @include mq-sp {
      @include text-normal--sp;
      margin-bottom: 5px;
      margin-left: 1.7rem;
      text-indent: -1.7rem;
    }
  }
}
