@charset "utf-8";

.people-title {
  margin-bottom: 30px;
  @include mq-sp {
    margin-bottom: 50px;
  }
  &__box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
  }
  &__title-wrapper {
    position:absolute;
    width: 100%;
    height: 100%;
  }
  &__title-inner {
    position:absolute;
    top: 23%;
  }
  &__images-wrapper {
    // position:absolute;
    right: 0px;
    width: 62%;
    img {
      width: 100%;
      height: auto;;
    }
  }
  &__category-title {
    @include heading-s--pc;
    padding: 50px 50px 50px 0px;
    border-right: 1px solid $dark-green;
    text-align: right;
    @include mq-sp {
      display: none;
    }
  }
  &__article-title {
    @include heading-l--pc;
    margin-bottom: 50px;
    @include mq-sp {
      @include heading-l--sp;
      padding: 5px 0px 5px 20px;
      border-left: 1px solid $dark-green;
    }
  }
  &__garden-name {
    @include heading-s--pc;
    margin-bottom: 25px;
    @include mq-sp {
      @include heading-l--sp;
      padding: 5px 0px 5px 20px;
      border-left: 1px solid $dark-green;
    }
  }
}
