@charset "utf-8";

.people-title {
  margin-bottom: 30px;
  @include mq-tab {
    display: none;
  }
  @include mq-sp {
    display: none;
  }
  &__box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
    @include mq-tab {
      margin-bottom: 150px;
    }
    @include mq-sp {
      margin-bottom: 150px;
    }
    @media (max-width: 320px) {
      margin-bottom: 200px;
    }
  }
  &__title-wrapper {
    position:absolute;
    width: 100%;
    height: 100%;
  }
  &__title-inner {
    position:absolute;
    top: 23%;
    @include mq-tab {
      background-color: #fff;
      padding: 40px;
      top: 75%;
      left: -40px;
      width: 87%;
    }
    @include mq-sp {
      background-color: #fff;
      padding: 40px;
      top: 75%;
      left: -20px;
      width: 87%;
    }
  }
  &__images-wrapper {
    right: 0px;
    width: 62%;
    @include mq-tab {
      width: 100%;
    }
    @include mq-sp {
      width: 100%;
    }
  }
  &__images--pc {
    width: 100%;
    height: auto;
    @include mq-tab {
      display: none;
    }
    @include mq-sp {
      display: none;
    }
  }
  &__images--sp {
    display: none;
    @include mq-tab {
      display: inline;
      width: 100vw;
      margin-left: calc(((100vw - 100%) / 2) * -1);
    }
    @include mq-sp {
      display: inline;
      width: 100vw;
      margin-left: calc(((100vw - 100%) / 2) * -1);
    }
  }
  &__category-title {
    @include heading-s--pc;
    padding: 50px 50px 50px 0px;
    border-right: 1px solid $dark-green;
    text-align: right;
    @include mq-tab {
      display: none;
    }
    @include mq-sp {
      display: none;
    }
  }
  &__article-title {
    @include heading-l--pc;
    margin-bottom: 50px;
    text-shadow: 0px 0px 3px #ffffff;
    @include mq-tab {
      @include heading-l--pc;
      margin-bottom: 30px;
    }
    @include mq-sp {
      @include heading-l--sp;
      margin-bottom: 30px;
    }
  }
  &__br--pc {
    @include mq-tab {
      display: none;
    }
    @include mq-sp {
      display: none;
    }
  }
  &__garden-name {
    @include heading-s--pc;
    margin-bottom: 25px;
    @include mq-tab {
      @include heading-s--pc;
      margin-bottom: 0px;
    }
    @include mq-sp {
      @include heading-s--sp;
      margin-bottom: 0px;
    }
  }
}
