@charset "utf-8";

.people-link-box {
  margin-bottom: 80px;
  @include mq-tab {
    width: 100%;
    margin-bottom: 30px;
  }
  @include mq-sp {
    width: 100%;
    margin-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__area-title {
    @include heading-m--pc;
    margin-bottom: 80px;
    padding-top: 150px;
    @include mq-tab {
      @include heading-m--pc;
      margin-bottom: 40px;
      padding-top: 60px;
    }
    @include mq-sp {
      @include heading-m--sp;
      margin-bottom: 40px;
      padding-top: 60px;
    }
  }
  &__list-wrapper {
    width: calc(100% / 3 - 50px / 3);
    margin-right: 25px;
    @include mq-tab {
      width: calc(100% / 2 - 40px / 3);
      margin-right: 20px;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
    @include mq-sp {
      width: calc(100% / 2 - 40px / 3);
      // width: calc(100% / 2 - 10px);
      margin-right: 20px;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
    &:nth-child(3n) {
      margin-right: 0px;
      @include mq-tab {
        margin-right: 20px;
      }
      @include mq-sp {
        margin-right: 20px;
      }
    }
    &:nth-child(6n) {
      margin-right: 0px;
      @include mq-tab {
        margin-right: 0px;
      }
      @include mq-sp {
        margin-right: 0px;
      }
    }
  }
  &__link-wrapper {
    text-decoration: underline;
    color: $bon-green;
    transition:.1s;
    &:hover {
      text-decoration: underline transparent;
    }
  }
  &__article-images {
    width: 100%;
    margin-bottom: 16px;
    @include mq-tab {
      margin-bottom: 14px;
    }
    @include mq-sp {
      margin-bottom: 14px;
    }
  }
  &__article-title {
    @include heading-s--pc;
    margin-bottom: 8px;
    @include mq-tab {
      @include heading-s--pc;
    }
    @include mq-sp {
      @include heading-s--sp;
    }
  }
  &__garden-name {
    @include text-inner--pc;
    margin-bottom: 45px;
    @include mq-tab {
      @include text-inner--pc;
      margin-bottom: 30px;
    }
    @include mq-sp {
      @include text-small--sp;
      margin-bottom: 30px;
    }
  }
}
