@charset "utf-8";

.product-link-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  @include mq-sp {
    width: 100%;
  }
  &__wrapper {
    width: calc(100% / 3 - 50px / 3);
    margin-right: 25px;
    @include mq-sp {
      width: calc(100% / 2 - 10px);
      margin-right: 20px;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
    &:nth-child(3n) {
      margin-right: 0px;
      @include mq-sp {
        margin-right: 20px;
      }
    }
    &:nth-child(6n) {
      margin-right: 0px;
      @include mq-sp {
        margin-right: 0px;
      }
    }
  }
  &__product-images {
    width: 100%;
    margin-bottom: 16px;
    @include mq-sp {
      margin-bottom: 14px;
    }
  }
  &__product-name {
    @include heading-s--pc;
    margin-bottom: 8px;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        transition:0.5s;
      }
    }
    @include mq-sp {
      @include heading-s--sp;
    }
  }
  &__product-price {
    @include text-inner--pc;
    margin-bottom: 45px;
    @include mq-sp {
      @include text-small--sp;
      margin-bottom: 30px;
    }
  }
}
