@charset "utf-8";

.text-link-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  @include mq-sp {
    width: 100%;
    margin-bottom: 10px;
  }
  &__wrapper {
    width : calc(100% / 3 - 50px / 3);
    margin-right: 25px;
    border: 1px solid $pale-gray;
    padding: 50px;
    margin-bottom: 25px;
    @include mq-sp {
      width : calc(100% / 2 - 10px);
      margin-right: 20px;
      padding: 40px 30px 30px 30px;
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
    &:nth-child(3n) {
      margin-right: 0px;
      @include mq-sp {
        margin-right: 20px;
      }
    }
    &:nth-child(6n) {
      margin-right: 0px;
      @include mq-sp {
        margin-right: 0px;
      }
    }
  }
  &__article-title {
    @include heading-s--pc;
    margin-bottom: 25px;
    text-align: center;
    a {
      text-decoration: underline;
      color: $dark-green;
      &:hover {
        text-decoration: none;
        color: #fff;
        transition:3s;
      }
    }
    @include mq-sp {
      @include heading-s--sp;
      margin-bottom: 25px;
    }
  }
  &__article-sumally {
    @include text-inner--pc;
    @include mq-sp {
      @include text-inner--sp;
    }
  }
}
