@charset "utf-8";

//PC用テキスト
@mixin heading-l--pc {
    font-family: TsukuMinPr6-LB;
    font-size: 45px;
    font-weight: normal;
    line-height: 1.56;
    color: $dark-green;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
}
@mixin heading-m--pc {
    font-family: TsukuMinPr6-LB;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.67;
    color: $dark-green;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
}
@mixin heading-s--pc {
    font-family: TsukuMinPr6-LB;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    color: $dark-green;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
}
@mixin text-normal--pc {
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    line-height: 2.81;
    color: $bon-green;
    font-feature-settings: "palt";
    letter-spacing: 0.125em;
    text-align: justify;
}
@mixin text-inner--pc {
    font-family: NotoSans;
    font-size: 14px;
    font-weight: normal;
    line-height: 2.14;
    color: $bon-green;
    font-feature-settings: "palt";
    letter-spacing: 0.125em;
    text-align: justify;
}
@mixin text-small--pc {
    font-family: NotoSans;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.67;
    color: $bon-green;
    font-feature-settings: "palt";
    letter-spacing: 0.125em;
    text-align: justify;
}
//SP用テキスト
@mixin heading-xl--sp {
    font-family: TsukuMinPr6-LB;
    font-size: 33px;
    font-weight: normal;
    line-height: 1.21;
    color: $dark-green;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
}
@mixin heading-l--sp {
    font-family: TsukuMinPr6-LB;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.46;
    color: $dark-green;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
}

@mixin heading-m--sp {
    font-family: TsukuMinPr6-LB;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.75;
    color: $dark-green;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
}
@mixin heading-s--sp {
    font-family: TsukuMinPr6-LB;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.64;
    color: $dark-green;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
}
@mixin text-normal--sp {
    font-family: NotoSans;
    font-size: 15px;
    font-weight: normal;
    line-height: 2.33;
    color: $bon-green;
    font-feature-settings: "palt";
    letter-spacing: 0.125em;
    text-align: justify;
}
@mixin text-inner--sp {
    font-family: NotoSans;
    font-size: 13px;
    font-weight: normal;
    line-height: 2.31;
    color: $bon-green;
    font-feature-settings: "palt";
    letter-spacing: 0.125em;
    text-align: justify;
}
@mixin text-small--sp {
    font-family: NotoSans;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: $bon-green;
    font-feature-settings: "palt";
    letter-spacing: 0.125em;
    text-align: justify;
}
//media-query
// @mixin mq-sp($max: $sp-max-width) {
//   @media only screen and (max-width: #{$max}) {
//     @content;
//   }
// }
// @mixin mq-pc($min: $pc-min-width) {
//   @media only screen and (min-width: #{$min}) {
//     @content;
//   }
// }

//@include sp{}
@mixin mq-sp {
  @media (max-width: $sp-width) {
    @content;
  }
}

//@include tb{}
@mixin mq-tab {
  @media (min-width: $sp-width) and (max-width: $pc-width) {
    @content;
  }
}

//@include pc{}
@mixin mq-pc {
  @media (min-width: $pc-width) {
    @content;
  }
}
